*{
    margin:0;
    padding:0;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.fl-lf{
    float: left;
}
.fl-rgt{
    float: right;
}
.mg-top{
    margin-top: 0.3rem;
}
.paddings{
    padding: 0.267rem;
}
/*@media screen and (min-width:1140px) {
    body{
        width: 10rem;
    }
}*/
body{
    font:400 12px 'Microsoft Yahei',H.org-special lielvetica,Arial,sans-serif;
    background-color:rgb(242, 243, 245); 
    width: 10rem;
    margin:0 auto;
}
.content{
    width: 100%;
    margin:0 auto;
    padding-bottom: 1.5rem;
}
/*顶部图片*/
.imgTitle{
    width: 100%;
    height: 5.6rem;
}
.imgTitle img{
    width: 100%;
    height: 100%;
}
/*顶部价格*/
.price-time{
    width: 100%;
    height: 1.2rem;
}
.price{
    width: 5.74rem;
    height: 1.2rem;
    line-height: 1.2rem;
    color: #fff;
    background-color:  #FF4443;
}
.moneyCount{
    margin-left:0.625rem;
    font-size: 0.47rem;
}
.moneyCount .numCount{
    font-size: 0.64rem;
}
.moneyOrg{
    display: inline-block;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    width: 2rem;
    height: 0.6rem;
    font-size: 0.294rem;
    font-weight: normal;
    text-align: center;
    text-decoration: line-through;
    background-color:#d80000;
    border-radius: 0.3rem;
    line-height: 0.6rem;
}
.time{
    width: 4.26rem;
    height: 1.2rem;
    text-align: center;
    background-color: #FCF4F4;
}
.time-text{
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.345rem;
    color: #FF4443;
}
.time-num{
    width: 100%;
    height: 0.7025rem;
    font-size: 0.294rem;
    /*line-height: 0.7025rem;*/
    color: #000;
    vertical-align: middle;
}
.time-num span{
    display: inline-block;
    width: 0.45rem;
    height: 0.45rem; 
    font-size: 0.32rem;
    line-height: 0.45rem;
     color: #fff;
    background-color: #000;
   
}
.time-num i{
    margin-left: 0.15rem;
    margin-right: 0.15rem;
    font-style: normal;
}
/*商品标题*/
.shopTitle{
    /*width: 100%;*/
    background-color: #fff;
}
.shopTitle h3{
    color:#333;
    line-height: 0.64rem;
    font-size: 0.452rem;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.shopTitle .pin-text{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 0.32rem;
    
}
.blo{
    display: inline-block;
    width: 0.584rem;
    height: 0.584rem;
    line-height: 0.584rem;
    text-align: center;
    color: #fff;
    background-color:#ff9700; 
}
.pin-num{
    display: inline-block;
    width: 2.03rem;
    height: 0.534rem;
    line-height: 0.534rem;
    color:#ff9700; 
    border:0.025rem solid #ff9700;
    text-align:center;
}
.all-prg{
    width: 9.466rem;
    height: 0.162rem;
    background-color: #CBE9F8;
    border-radius: 0.081rem;
}
.act-prg{
    width: 3.148rem;
    height:0.162rem;
    background-color: #1797CE;
    border-radius: 0.081rem;
}
.tuan-num{
    font-size: 0.32rem;
    color: #333;
    margin-top: 0.155rem;
    margin-bottom: 0.47rem;
}
.tuan-num b{
    margin: 0 0.133rem;
    font-size: 0.405rem;
}
.all-num{
    color: pink;
}
.act-num{
    color: #1797CE;
}
.last-num{
    color: #FF4443;
}
.warning{
    color: #999;
    font-size: 0.32rem;
    vertical-align: middle;
}
.warning img{
    width: 0.375rem;
    height: 0.375rem;
    margin-right: 0.17rem;
    vertical-align: middle;
}
.pep-num{
    background-color: #fff;
}
.h-title{
    height: 0.43rem;
    line-height: 0.43rem;
    padding-left: 0.267rem;
    padding-bottom: 0.267rem;
    border-bottom: 0.0128rem solid #D8D8D8;
}
.h-text{
    position: relative;
    font-size: 0.4rem;
    color: #333;
}
.h-text:before{
    content: '';
    position: absolute;
    left: -0.267rem;
    top: 0.085rem;
    width: 0.085rem;
    height: 0.322rem;
    border-radius: 0.3125rem;
    background-color:  #1797CE;
}
.more{
    vertical-align: bottom;
    font-size: 0.32rem;
    color: #999;
}
.pep-names{
    height:1rem;
    margin-top: 0.2rem;
}
.pep-names img{
    width: 0.934rem;
    height: 0.934rem;
    border-radius: 100%;
}
.pep-detail{
    width: 4rem;
    height: 100%;
    margin-left: 0.3rem;
}
i{
    font-style: normal;
}
.pep-name{
    margin-right: 0.3rem;
}
.pep-detail .detail{
    font-size: 0.4rem;
}
.pep-last{
    font-size: 0.32rem;
    color: #999;
}
.pep-nub{
    margin:0 0.17rem;
    color: #FF4443;
}
.go-pinke{
    display: block;
    width: 1.813rem;
    height: 0.772rem;
    margin-top: 0.114rem;
    line-height: 0.772rem;
    color: #fff;
    font-size: 0.345rem;
    text-align: center;
    background-color: #FF4443;
    border-radius: 0.386rem;
}
/*拼团玩法*/
.play-ways{
    font-size: 0.28rem;
    color: #333;
    background-color: #fff;
}
.play-ways .play-steps{
    margin-top: 0.15rem;
    height: 1rem;
}
.play-ways ul{
    /*display: flex;*/
    
}
.play-steps li{
    /*flex: 1;*/
    /*margin-right: 0.0853rem;*/
}
.play-steps li img{
    width: 0.375rem;
    height: 0.375rem;
    margin-top: 0.222rem;
    margin-right: 0.08rem;
}
.play-steps li .left{
    margin-top: 0.2rem;

}
/*课程简介*/
.class-int{
    background-color: #fff;
}
.class-text{
    margin: 0.2rem 0;
    font-size: 0.4rem;
    color: #333;
    line-height: 0.6rem;
    font-size: 0.45rem;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
}
.class-img{
    height: 5.6rem;
}
.class-img img{
    width: 100%;
    height: 100%;
}
/*适用人群*/
.int-pep{
    background-color: #fff;
}
.int-pep ul{
    width: 5rem;
    margin:0 auto;
    /*text-align: left;*/
}
.int-pep li{
    height:0.512rem;
    margin-top: 0.3rem;
    color: #222;
    font-size:0.4rem;  
    line-height: 0.6rem;
}
.int-pep li img{
    width: 0.48rem;
    height: 0.48rem;
    vertical-align: middle;
}
.int-pep li span{
    vertical-align: middle;
}
/*授课教师*/
.teacher{
    background-color: #fff
}
.teacher-info{
    margin-top: 0.3rem;
}
.head-pto{
    width: 1.87rem;
    height: 1.87rem;
}
.head-pto img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.teacher-inf{
    margin-left: 0.1rem;
    width: 7.4rem;
}
.tec-name{
    color: #222;
    font-size: 0.45rem;
    vertical-align: middle;
}
.tex-label{
    display: inline-block;
    width: 1.7rem;
    height:0.5rem;
    margin-left: 0.17rem;
    line-height: 0.5rem;
    color: #fff;
    font-size: 0.22rem;
    text-align: center;
    background-color: #ffcd18;
    vertical-align: middle;
}
.tec-title{
    color: #1AA1FB;
    line-height: 0.5rem;
    font-size: 0.32rem;
}
.tec-text{
    color: #222;
    font-size: 0.4rem;
}
.class-outl{
    background: #fff;
}
.outl-cont{
    color: #333;
    font-size: 0.4rem;
}
.not-reg{
    background: #fff;
}
.not-cont,.start-cont{
    margin-top: 0.2rem;
    color: #333;
    font-size: 0.4rem;
}
.start-class{
    background: #fff;
}
.mg-lf{
    margin-left: 0.5rem;
}
.start-txt{
    width: 6rem;
}
.wid{
    width: 1.7rem;
}
.start-cont span{
    float: left;
}
.start-cont p{
    margin-top: 0.2rem;
}
.didian{
    padding-left: 0.43rem;
    border-left: 1px solid #eee;
}
.didian img{
    width: 0.47rem;
    height:0.595rem;
}
.insnal-infomation{
    background: #fff;
}
.insnal-cont{
    margin-top: 0.3rem;
}
.insnal-img{
    width: 2.133rem;
    height: 2.133rem;
    margin-right: 0.3rem;
}
.insnal-img img{
    width: 100%;
    height: 100%;
}
.insnal-title{
    font-size: 0.45rem;
    color:#222;
    overflow:hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}
.insnal-info{
    padding-left: 0.1rem;
    color: #61696f;
}
.insnal-info img{
    width: 0.256rem;
    height: 0.256rem;
    vertical-align: middle;
    margin-right: 0.2rem;
}
.insnal-info p{
    line-height: 0.53rem;
    font-size: 0.375rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

/*底部*/
.foot-cont{
    position: fixed;
    left: 50%;
    bottom:0;
    margin-left: -5rem;
    width: 10rem;
    height: 1.2rem;
    background: pink;
}
.foot-btn{
    width: 10rem;
    height: 1.2rem;
    color: #222;
    background:#fff;
    font-size: 0.3rem;
}
.foot-btn li{
    text-align: center;
    height: 1.2rem;
}
.zan{
    width: 1.74rem;
    background: #fff;
    border-right: 0.01rem solid #eee;
}
.zan img,.wen img{
    width: 0.4rem;
    height: 0.41rem;
    margin-top: 0.2rem;
    vertical-align: middle;
}
.wen{
    width: 1.75rem;
    background: #fff;
}
.foot-phone{
    width: 1.9rem;
    background: #1797CE;
    line-height: 1.2rem;
}
.foot-phone img{
    width: 0.45rem;
    height: 0.48rem;
    vertical-align: middle;
}
.foot-price{
    width: 4.6rem;
    padding-top: 0.1rem;
    color: #fff;
    background-color: #FF4443;
    text-align: center;
}
.price-tit{
    font-size: 0.45rem;
    margin-top: 0.2rem;
}
